<div class="w-full lg:w-1/2 mx-auto py-3 px-5 bg-white mt-4 shadow rounded-lg">
  <ul class="flex flex-wrap mb-4">
    <li class="mr-2 active-tab">
      <%= link_to "Edit account", edit_profile_path, class: "inline-block text-gray-800 hover:bg-red-100 rounded-t-lg py-4 px-4 text-sm font-medium text-center" %>
    </li>
    <li class="mr-2 inactive">
      <%= link_to "Edit password", edit_user_registration_path, class: "inline-block text-gray-800 hover:bg-red-100 rounded-t-lg py-4 px-4 text-sm font-medium text-center" %>
    </li>
  </ul>

  <%= simple_form_for(current_user, url: profile_path) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="mb-3">
      <%= f.input :email %>
      <%= f.input :name, label: 'Profile name' %>

      <div class="flex gap-4 items-center mt-3 mb-4" data-controller="preview">
        <div data-preview-target="content">
          <% if current_user.avatar.attached? %>
            <%= image_tag current_user.avatar, class: "avatar" %>
          <% end %>
        </div>
        <%= f.input :avatar, input_html: { data: { action: "preview#showImage" } } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update" %>
      </div>
    </div>

  <% end %>
</div>