<%= simple_form_for(board) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
  </div>

  <div class="form-inputs">
    <p class="text-gray-700 text-sm font-medium mt-4">
      Make your board public? 
    </p>
    <%= f.input :public %> 
  </div>

  <% if board.new_record? %>
    <div class="relative my-4">
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-gray-300"></div>
      </div>
      <div class="relative flex justify-center">
        <span class="px-2 bg-white text-sm text-gray-500">
          Embeds
        </span>
      </div>
    </div>
    <div class="my-2" data-controller="nested-rondo">
      <div data-nested-rondo-target="fieldContain">
        <%= f.simple_fields_for :embeds do |embed| %>
          <%= render "embed_fields", f: embed %>
        <% end %>
      </div>
      <div class="relative mt-2">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-gray-300"></div>
        </div>
        <div class="relative flex justify-center">
          <%= link_to_add_association "Add Embed", f, :embeds, class: "px-2 bg-white text-sm text-gray-500" %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="flex items-center space-x-2 text-base mt-4">
      <h4 class="font-semibold text-slate-900">Members</h4>
      <span class="rounded-full bg-slate-100 px-2 py-1 text-xs font-semibold text-slate-700">
        <%= @memberships.count %>
      </span>
    </div>
    <div class="flex mt-3 mb-6 -space-x-2 overflow-hidden">
      <% @memberships.each do |membership| %>
        <%= avatar_for(membership.user, "inline-block h-12 w-12 rounded-full ring-2 ring-white") %>
      <% end %>
    </div>
  <% end %>
  
  <div class="form-actions mt-4">
    <%= f.button :submit %>
  </div>
<% end %>