<div class="max-w-7xl mx-auto mt-4 px-2 ">
  <div class="flex justify-between md:mx-4">
    <h1><%= @board.title %></h1>
    <%= render 'boards/owner_header' if user_is_board_member?(@board) %>
  </div>

  <% if @embeds.empty? && user_is_board_member?(@board) && params[:type].blank? %>
    <div class="border-dashed border-2 flex flex-col items-center mt-4 py-3 md:mx-4">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="24" width="24" stroke="currentColor" class="w-10 h-10 text-gray-500">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"></path>
      </svg>
      <p class="mt-2 font-bold">You don't have any boards yet</p>
      <p class="text-gray-700 mb-4">Get started by creating a new quote.</p>
      <%= link_to "New embed", new_board_embed_path(@board), class: "btn-primary focus:shadow-outline", data: { turbo_frame: 'embed_modal' } %>
    </div>
  <% else %>
    <div class="border-b flex justify-between items-center my-5 mb-8">
      <ul class="flex flex-wrap gap-2">
        <% active_link = "underline underline-offset-8 decoration-red-500 decoration-2 font-bold" %>
        <li class="<%= params[:type].blank? ? active_link : 'font-medium' %>">
          <%= link_to "All", @board, class: "inline-block text-gray-900 hover:text-gray-900 py-2 px-4 text-sm text-center" %>
        </li>
        <li class="<%= params[:type] == 'EmbedLink' ? active_link : 'font-medium' %>">
          <%= link_to "Embeds", board_path(@board, type: 'EmbedLink'), class: "inline-block text-gray-700 hover:text-gray-900 py-2 px-4 text-sm  text-center" %>
        </li>
        <li class="<%= params[:type] == 'MediaAsset' ? active_link : 'font-medium' %>">
          <%= link_to "Uploads", board_path(@board, type: 'MediaAsset'), class: "inline-block text-gray-700 hover:text-gray-900 py-2 px-4 text-sm text-center" %>
        </li>
      </ul>
      <p class="font-medium md:mr-4"><%= @embeds.size %> pins</p>
    </div>
    <div class="board-grid justify-center my-5" 
      data-controller="masonry" data-action="resize@window->masonry#resizeAllItems">
      <%= render @board, embeds: @embeds %>
    </div>
  <% end %>
<div>