<div class="max-w-6xl mx-auto mt-4 px-2 ">

  <div class="flex justify-between">
    <h1><%= @board.title %></h1>
  </div>

  <div class="grid lg:grid-cols-4 md:grid-cols-3 grid-cols-2 gap-4 mt-4">
    <%= render @board, embeds: @embeds %>
  </div>
  

  <div class="mt-4">
    <%= link_to "Edit this board", edit_board_path(@board) %> |
    <%= link_to "Back to boards", boards_path %>

    <%= button_to "Destroy this board", @board, method: :delete %>
  </div>
<div>