<%= simple_form_for([@board, embed], html: { multipart: true }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
  </div>

  <div class="form-inputs" >
    <%= f.input :input, label: 'Link' %>
  </div>

  <div class="flex justify-between items-center flex-row-reverse mt-6">
    <%= f.button :submit, 'Save', data: {turbo_frame: "_top"} %>
    <%= link_to "Delete", [@board, embed], class: "btn-gray", data: {turbo_method: :delete, turbo_confirm: 'Are you sure?', turbo_frame: "_top"} if embed.persisted? %>
  </div>
<% end %>

