<div class="rounded-lg shadow-lg bg-white hover:shadow-xl aspect-w-4 aspect-h-3"> 
  <div class="flex flex-col">
    <% if embed.embeddable_type == "EmbedLink" %>
      <%= render 'embeds/embed_link', embed: embed %>
    <% else %>
      <%= render 'embeds/embed_image', embed: embed %>
    <% end %>
    <div class="text-gray-800 p-2 relative">
      <%= link_to '', [embed.board, embed], class: 'w-full h-full absolute' %>
      <div class="flex justify-between">
        <p class="text-lg font-bold leading-6 "><%= embed.title %></p>
        <button class="relative z-30">
         <%= link_to edit_board_embed_path(embed.board, embed), data: { turbo_frame: 'modal' }, class: "relative z-30" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
          </svg>
        <% end %>
      </div>  
    </div>
  </div>

</div>
