<%= simple_form_for([@board, embed], data: {turbo: false}) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
  </div>

  <div class="form-inputs">
    <%= f.input :input, label: 'Link' %>
  </div>

  <div class="flex justify-end items-center flex-wrap mt-6">
    <button class="btn-primary" >Save</button>
  </div>
<% end %>