<!DOCTYPE html>
<html>
  <head>
    <title>Mood Opus</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-background flex flex-col min-h-screen">
    <header>
      <%= render "shared/navbar" %>
      <%= render "shared/flash" %>
    </header>
    <%= turbo_frame_tag "embed_modal" %>
    <%= turbo_frame_tag "membership_modal" %>
    <main class="container mx-auto">
      <%= yield %>
    </main>
  </body>
</html>
